*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("beach.jpg");

}

header{
  font-family: wide latin, georgia, arial, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: orange;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

}
h2{
  padding-left: 20px;
  font-size: 20px;
  font-family: broadway, georgia, arial;
  margin-bottom: 10px;
  margin-left: 60px;
}
.input{
  text-align: left;
  display: inline-block;
}
input[type="text"]{
  height: 50px;
  width: 400px;
  background-color: lightgray;
  font-size: 20px;
  font-style: bold;
  font-family: georgia,sans-serif, arial;
  border: none;
  border-radius: 20px;
  margin-left: 60px;
  padding-left: 10px;

}

.btn-search{
background-color: orange;
font-style: bold;
font-family: broadway, georgia, arial;
font-size: 20px;
height: 50px;
width: 100px;
border-radius: 20px;
border: none;
}
.btn-search:hover{
  cursor: pointer;
  background-color: lightgreen;
}
.weather_container{
  border: black solid 2px;
  float: right;
  height: 400px;
  width: 600px;
  margin-right:100px;
  margin-top: 10px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}
.wrapper{
display: inline-block;
}
#history{
  width: 500px;
  height: 400px;
  border: black solid 2px;
  text-align: center;
  font-size: 20px;
  font-family: broadway, arial;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: 60px;
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
}

legend{
  background-color: orange;
  color: black;
  text-decoration: underline;
  font-family: broadway, georgia, arial;
  padding: 10px;
}
h5{
  background-color: orange;
  color: black;
  text-decoration: underline;
  font-family: broadway, georgia, arial;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

h3{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: broadway,georia, arial;
  text-decoration: underline;
  background-color: orange;
  color: black;


}
.weather{
  margin-left: 10px;
  margin-top: 20px;
  font-family: georgia, arial;
  font-size: 20px;
  padding:20px;
}
.city{
  background-color: orange;
  color: black;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  text-decoration: underline;
  padding-right: 10px;
}
.weather.loading{
  visibility: hidden;
}
.weather.loading:after{
  visibility: visible;

}
.forecast {
  border: 3px solid black
}
#item1, #item2,
#item3, #item4,
#item5 {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 300px;
  padding: 10px;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  display: inline-block;
  width: 200px;
  border-radius: 30px;
  
}

@media screen and (max-width: 768px){

  #history{
    display: block;
    width: 100%;
    font-size: 15px;
    font-family: arial;
  }
  .weather_container{
    float: left;
    width: 700px;
    font-size: 15px;
    font-family: arial;
  }
  h3{
    display: inline-block;
    background-color: cyan;
    font-family: arial;
    font-size: 15px;
  }
  #item1, #item2,
  #item3, #item4,
  #item5 {
    display: flex;
  }

}
@media screen and (max-width: 468px){
  #history{
    display: block;
    font-size: 10px;
    font-family: arial;

  }
  h3{
    display: inline-block;
    background-color: cyan;
    font-family: arial;
    font-size: 10px;
  }
  #item1, #item2,
  #item3, #item4,
  #item5 {
    display: flex;
    flex-direction: row;
  }
}
